
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;500;600;700&family=Yeseva+One&display=swap');

body{
    background-color: #F5EDCE;
    font-family:'Lemonada',Verdana;
}

h1,h2{
    background-color: aquamarine;
    font-family:'Yeseva One',Verdana;
}

ul{
    background-color: #8EA7E9;
    font-family:'Lemonada',Verdana;
}